.home-container {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.home-btn-container {
  display: flex;
  gap: 1rem;
}

/* Signup */
.signup-input {
  border: none;
  outline: none;
}

/* Login */
.login-links {
  display: flex;
  flex-direction: column;
}

.login-container,
.form-container {
  position: absolute;
  color: whitesmoke;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  width: 100%;
  max-width: 21rem;
  margin-inline: auto;
  padding: 1rem;
}

@media (min-width: 28rem) {
  .login-links {
    flex-direction: row;
  }
}

/* Position Relative */
.pos-rel {
  position: relative;
  z-index: 1;
}

.quizlet-container {
  min-height: calc(100vh-350px);
  padding: 0.5em 1em;
  color: black;
}

.decks-container {
  position: relative;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.deck-container {
  border: 1px solid black;
  padding: 0.5em 0.5em;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.deck-title {
}
.deck-description {
}

.deck-count {
}

.deck-btn:hover {
  background-color: hsl(220, 55%, 78%);
}

.deck-btn-delete {
  background-color: hsl(0, 55%, 57%);
}

.deck-btn-delete:hover {
  background-color: hsl(0, 55%, 72%);
}

.deck-icon {
  pointer-events: none;
  color: black;
}

.deck-button-container {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.25em;
  align-items: flex-end;
  /* right: 0.5em; */
  /* bottom: 0.35em; */
}

/* Modal */

.deck-modal {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-deck-name {
  outline: none;
  border: none;
  width: 100%;
}

/* Studycard Container */

.studycards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.studycard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  text-align: center;
  align-items: center;
  padding: 0.25em 1em 0.5em 1em;
  overflow: auto;
  border-radius: 1rem;
  height: 15rem;
  width: min(100vw, 20rem);
  margin-inline: auto;
}

.studycards-title {
  text-align: center;
  color: white;
}
.studycards-home-btn {
}
.studycards-buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.studycards-button {
  width: 100%;
}

/* Edit Flashcards */
.edit-flashcards-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  position: relative;
}

.error-alert {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.update-btn {
  position: absolute;
  position: fixed;
  z-index: 2;
}

.edit-flashcards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
}

.edit-title {
  text-align: center;
  color: white;
}

.edit-flashcards-title {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  outline: none;
  text-align: center;
}
.edit-flashcards-definition {
}

.edit-flashcards-info > input {
  margin-bottom: 0.5em;
}

.edit-flashcard-container {
  /* background: hsla(0, 0%, 00%, 0.5%); */
  background: transparent;
  box-shadow: 2px 2px 7px hsla(0, 0%, 100%, 2.5%);
  border: none;
  color: white;
  padding: 0.5rem;
}

.error-message {
  color: hsl(0, 50%, 40%);
}

.quizlet-inputs {
  color: #555555;
  border: none;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}

.add-color,
.section-color,
.btn-red,
.btn-green {
  color: white;
}

.btn-green {
  background-color: hsla(110, 75%, 52%, 80%);
}
.btn-green:hover {
  background-color: hsla(110, 75%, 32%, 80%);
}

.btn-red {
  background-color: hsla(350, 75%, 52%, 80%);
}

.btn-red:hover {
  background-color: hsla(350, 75%, 32%, 80%);
}

.add-color {
  background-color: hsl(210, 85%, 58%);
}

.add-color:hover {
  color: white;
  background-color: hsl(210, 85%, 38%);
}

.section-color {
  background-color: hsl(140, 5%, 53%);
}

.edit-flashcard-definition {
  color: #555555;
  height: 10rem;
}

/* Write */

.home-container {
  max-width: 500px;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.home-button {
  width: 100%;
}

.write-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  z-index: 1;
}

.write-title {
  text-align: center;
}

.write-count-term-container {
  text-align: center;
}

.write-textarea {
  height: 15rem;
  width: min(100vw, 20rem);
  padding: 0.25em 0.5em;
  border-radius: 0.5rem;
  background: transparent;
  color: white;
}

.write-btn-container {
  display: flex;
  gap: 1rem;
}

.write-btn {
  width: 100%;
}

.pointer-events {
  pointer-events: none;
}

@media (min-width: 44rem) {
  .quizlet-container {
    max-width: 800px;
    margin-inline: auto;
  }
  .decks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
  }
  .add-deck {
    width: 500px;
    max-width: 700px;
    grid-column: span 2;
    margin-inline: auto;
  }

  .edit-flashcards-info {
    margin-inline: auto;
    width: 500px;
    max-width: 700px;
  }

  .studycards-container {
    max-width: 500px;
    margin-inline: auto;
  }

  .studycard-container {
    height: 20rem;
    width: 100%;
  }

  .edit-flashcards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .edit-flashcards-container-single {
    width: 500px;
    max-width: 700px;
    margin-inline: auto;
  }

  .write-container {
    max-width: 600px;
    margin-inline: auto;
  }

  .write-textarea {
    background: transparent;
    color: white;
    height: 20rem;
    width: 100%;
  }

  .no-decks {
    grid-column: span 2;
  }
}
