* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-hue: 240;
  --background-saturation: 58%;
  --percentage: 250px;

  --top-color: hsl(var(--background-hue), var(--background-saturation), 25%);
  --sidebar-color: hsl(var(--background-hue), 38%, 9%);
  --header-color: hsl(var(--background-hue), var(--background-saturation), 24%);
  --middle-color: hsl(var(--background-hue), var(--background-saturation), 20%);
  --lower-color: hsl(var(--background-hue), var(--background-saturation), 8%);
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--top-color) 0%,
    var(--middle-color) 35%,
    var(--lower-color) 70%
  );
  position: relative;
}

.header-color {
  background: var(--header-color);
}

.sidebar-color {
  background: var(--sidebar-color);
}

.offcanvas-title {
  color: white;
}
.white-smoke {
  color: hsl(0, 0%, 96%);
}

.nav-link:hover {
  color: hsl(0, 0%, 50%);
}

.navbar-brand {
  font-family: cursive;
}

.star {
  position: absolute;
  width: var(--percentage);
  height: var(--percentage);
  border-radius: 50%;
  background: radial-gradient(
    hsl(226, 47%, 50%) 2.5%,
    transparent 75%,
    hsl(240 60%, 31%) 99%
  );
  left: 5%;
  top: 7.5%;
  /* animation: rotate 60s linear infinite; */
}

@keyframes rotate {
  25% {
    left: 5%;
    top: 57.5%;
  }

  50% {
    left: 55%;
    top: 57.5%;
  }

  75% {
    left: 55%;
    top: 7.5%;
  }
}
.not-found {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  gap: 0.15rem;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.btn-ddark {
  color: whitesmoke;
  background-color: hsl(240, 50%, 55%);
}

.btn.btn-ddark:hover {
  background-color: hsl(240, 50%, 65%);
}

/* Alert */
.alert-comp {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  max-width: 250px;
}
