<section class="edit-mode-container">
  <div class="edit-mode-update-title-container">
    @if (this.cardsService.madeChanges()) {
      <button class="btn add-color" (click)="update()">Update</button>
    }

    <button class="btn btn-outline-light add-deck edit-mode-home-btn" routerLink="../">
      Home
    </button>
  </div>
  <input
    class="edit-mode-title"
    [(ngModel)]="deckTitle"
    spellcheck="false"
    [maxlength]="deckNameLength"
    (input)="handleChange()"
  />
  <div
    [class.edit-mode-flashcards-container-single]="cards().length === 1"
    [class.edit-mode-flashcards-container]="cards().length !== 1"
  >
    @for (card of cards(); track card.card_id; let idx = $index) {
      <app-card [card]="card" [card_index]="idx" />
    }
  </div>
  <button class="btn add-color add-deck" (click)="add()">Add</button>
</section>
