<div class="form-container">
  <div>
    <form novalidate [formRoot]="registrationForm">
      <label for="email" class="form-group"> Email </label>
      <input
        id="email"
        type="email"
        class="form-control mb-2 signup-input"
        [formField]="registrationForm.email"
      />
      <div formGroupName="passwords">
        <label for="password" class="form-group"> Password </label>
        <input
          id="password"
          type="password"
          class="form-control mb-2"
          [formField]="registrationForm.passwords.password"
        />
        <label for="password2" class="form-group"> Re-enter Password </label>
        <input
          id="password2"
          type="password"
          class="form-control mb-2"
          [formField]="registrationForm.passwords.password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-sm btn-outline-light w-100"
        [disabled]="registrationForm().invalid()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
