<section class="study-mode-container">
  <button class="btn btn-outline-light add-deck" routerLink="../">Home</button>
  @if (cards().length > 0) {
    <article
      class="card bg-light text-black study-mode-card-container"
      (click)="handleTerm()"
    >
      <p>Card: {{ index() + 1 }} / {{ cards().length }}</p>
      @if (showTerm) {
        <h2>{{ cards()[index()].term }}</h2>
      } @else {
        <p>{{ cards()[index()].definition }}</p>
      }
    </article>
    <div class="study-mode-card-buttons-container">
      <button
        class="study-mode-card-button btn btn-outline-light"
        (click)="prevCard()"
        [disabled]="index() == 0"
      >
        Prev
      </button>
      <button
        class="study-mode-card-button btn btn-outline-light"
        (click)="nextCard()"
        [disabled]="index() == cards.length - 1"
      >
        Next
      </button>
    </div>
  } @else {
    <article class="card bg-light text-black">Add Cards To Study</article>
  }
</section>
